<h1>Welcome!</h1>

<form action="/capture" method="POST">
  <label for="pokemon">Type the name of the pokemon you want to capture:</label>

  <p><input type="text" name="pokemon_name" id="pokemon_name" /></p>

  <input type="submit" value="Submit"/>
</form>
